// Alert Component Styles using Design System

.alert-base {
  position: relative;
  width: 100%;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--border));
  padding: 1rem;
  
  // Icon positioning
  & > svg {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: hsl(var(--foreground));
  }
  
  // Content spacing when icon is present
  & > svg ~ * {
    padding-left: 1.75rem;
  }
  
  & > svg + div {
    transform: translateY(-3px);
  }
}

.alert-variant-default {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  border-color: hsl(var(--border));
}

.alert-variant-destructive {
  border-color: hsl(var(--destructive) / 0.5);
  color: hsl(var(--destructive));
  
  &[data-bs-theme="dark"],
  .dark & {
    border-color: hsl(var(--destructive));
  }
  
  & > svg {
    color: hsl(var(--destructive));
  }
}

.alert-title {
  margin-bottom: 0.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.025em;
  margin-top: 0;
}

.alert-description {
  font-size: 0.875rem;
  
  p {
    line-height: 1.625;
  }
}

