// Notifications Dropdown Component Styles

.notifications-dropdown {
  display: inline-flex;
  align-items: center;
  
  .dropdown-toggle {
    position: relative;
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: calc(var(--radius) - 2px);
    transition: var(--transition-smooth);
    vertical-align: middle;
    
    &:hover {
      background-color: hsl(var(--accent));
    }
    
    i, svg {
      font-size: 1.375rem;
      color: hsl(var(--foreground));
      display: inline-block;
      vertical-align: middle;
    }
  }
}

